<main>
  <section>
      <div class="container-image">
        <img src="./../../../../assets/img/24-248235_user-profile-avatar-login-account-fa-user-circle.png" alt="">
      </div>
      <div class="container-info">
        <label>Email</label>
        <input type="email">

        <label>Password</label>
        <input type="password">

        <label>Confirm password</label>
        <input type="password">
        <button>Edit</button>
      </div>
  </section>
</main>
<app-header></app-header>
