<main>
  <div class="title-container">
    <h2>List of cocktails</h2>
  </div>

<section class="cocktail">
  <div class="cocktail-image"></div>
  <div class="cocktail-info">
    <p>Name cocktail</p>
    <i class="fas fa-heart"></i>
  </div>
</section>


<section class="cocktail">
  <div class="cocktail-image"></div>
  <div class="cocktail-info">
    <p>Name cocktail</p>
    <i class="fas fa-heart"></i>
  </div>
</section>


<section class="cocktail">
  <div class="cocktail-image"></div>
  <div class="cocktail-info">
    <p>Name cocktail</p>
    <i class="fas fa-heart"></i>
  </div>
</section>
</main>
<app-header></app-header>

